//background
$body-bg: #fff;
$purple-dk: #461E5F;
$purple: #609;
$orange: #FF9901;
$orange-dark: #FAB437;
$green: #9ACA41;
$white: #fff;
$black: #000;
$gray: #6c7d93;
$pink: #EB3C7D;
$red: #F00;
$yellow: #FF0;
$yellow-light: #FADC50;

//breakpoints
$mob-width: 240px;
$tab-width: 768px;
$desk-width: 1024px;
$desklarge-width: 1280px;

//Grid system
$grid-columns: 12;
$grid-max-width: 970px;