//background
$bg-color: #14191f;
$gray-dark: #1B2028;
$gray: #6c7d93;

//fonts
$font-regular: 'Barlow';

//breakpoints
$mob-width: 240px;
$tab-width: 768px;
$desk-width: 1024px;
$desklarge-width: 1280px;

//Grid system
$grid-columns: 12;
$grid-max-width: 970px;