.dropdown {
    &.profile {
        .dropdown-menu {
            left: -40px !important;
        }
    }
    &.show {
        .btn {
            background-color: #101418;
            border: 0;
            box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
            outline: none;
        }
    }
    .btn {
        background-color: transparent !important;
        position: relative;
        float: left;
        border-radius: 18px !important;
        border: 0;
        color: #6c7d93 !important;
        font-family: inherit;
        font-size: inherit;

        svg {
            font-size: 16px;
            margin: 0;
        }

        &:hover, &:focus {
            background-color: #101418;
            box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
            outline: none;
        }

        &:active {
            background-color: #060709;
            border: 0;
            box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
            outline: none;
        }
    }

    &-menu {
        transform: none !important;
        left: -40px;
        top: 40px !important;
        z-index: 1030;
        min-width: 160px;
        padding: 8px 0;
        margin: 7px 0;
        background-color: $bg-color;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        color: #ddd;
        font-size: 13px;
        line-height: 1.5;
        -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5);
        box-shadow: 0 2px 6px rgba(0,0,0,0.5);

        &:before {
            width: 0;
            height: 0;
            content:"";
            @include centerX(absolute);
            top: -30px;
            display: inline-block;
            border-top: 15px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid $bg-mobmenu;
        }

        .dropdown-item {
            padding: 8px 15px 8px 40px;
            color: #ddd;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
            border-radius: 0;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            text-align: left;
            font-weight: normal;
            text-decoration: none;

            &:hover, &:focus, &:active {
                background: $gray-dark;
                color: $white-lt;
                outline: none;
            }

            &.active {
                color: $white;
                background-color: $gray-hover;
            }

            svg {
                float: left;
                margin-left: -25px;
                margin-top: 2px;
                width: 1.28571429em;
                text-align: center;
            }

            a {
                color: inherit !important;
            }
        }

        .dropdown-divider {
            margin: 8px 0;
            background-color: #1b2028;
            height: 1px;
            border: 0;
        }
    }
}