.list-group {
  &--custom {
    @include mobile {
      margin-bottom: 40px !important;
    }

    &.swiper-container {
      .swiper-pagination {
        bottom: -28px;
      }
    }

    .list-group {
      &-item {
        @include mobile {
          padding: 20px 5px;
        }
        &-action {
          background-color: $gray-dark;
          color: $gray-lt;
          border: none;
          position: relative;
          border: 1px solid $borderQuote;
          min-height: 118px;
          @include transition-duration(.2s);

          @include mobile {
            @include border-radius(4px);
          }
          
          &:active, &:focus, &:hover {
            background-color: inherit;
            color: inherit;
          }

          @include tablet {
            min-height: 83px;

            &:hover:not(.active) {
              background-color: $gray-hover;
              color: $gray;
            }
          }
        
          &:first-child {
            @include tablet {
              border-radius: 4px 4px 0 0;
            }
          }
        
          &.active, &.swiper-slide-active {
            color: $white;
            background-color: $blue;
            @include transition-duration(.2s);
          }
        
          .title {
            font-size: 14px;
            margin: 0 0 5px;
            font-weight: bold;
          }
        
          .desc {
            font-size: 12px;
          }
        }
      }
    }
  }
}