.messages__dropdown {
    position: fixed;
    top: 10px;
    right: 80px;
    z-index: 2;
    
    &.show {
        .btn:before {
            display: inline-block;
            bottom: -12px;
        }
        svg {
            font-size: 22px;
        }
    }
    .btn {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        position: relative;
        svg {
            font-size: 17px;
            @include center(absolute);
            top: 52%;

            &.active {
                color: $green;
                -webkit-animation: blink 2s infinite;
                -moz-animation: blink 2s infinite;
                -ms-animation: blink 2s infinite;
                -o-animation: blink 2s infinite;
                animation: blink 2s infinite;

                @keyframes blink {
                    0% { opacity: .6; }
                    50%   { opacity: 1; }
                    100% { opacity: .6; }
                }
            }
        }

        &:before {
            width: 0;
            height: 0;
            content: "";
            position: absolute;
            left: 50%;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
            bottom: -10px;
            display: none;
            border-top: 15px solid transparent;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-bottom: 15px solid #0d0f11;
        }

        .number {
            z-index: 9;
            color: $black;
            font-size: 10px;
            @include center(absolute);
            top: 48%;
        }
    }

    .dropdown {
        &-menu {
            left: -130px !important;
            top: 40px;
            width: 300px;
            padding: 0 !important;
            max-height: 400px;
            overflow-y: auto;

            &::-webkit-scrollbar-track {
                background-color: transparent;
                box-shadow: none;
            }
    
            &::-webkit-scrollbar {
                background-color: transparent;
                width: 6px;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: $gray-dark;
                border: 0;
                padding: 8px;
            }
        }
        &-item {
            padding: 8px !important;

            &:last-child {
                border-radius: 0 0 4px 4px;
            }

            &.empty {
                text-align: center !important;
                padding: 40px 0 !important;
                &:hover {
                    background-color: inherit !important;
                    cursor: default;
                    user-select: none;
                }
            }

            &.all {
                text-align: center !important;
                color: $blue !important;
                background-color: $gray-hover;

                &:hover {
                    color: $blue-hover !important;
                    background-color: $gray-dark;
                }
            }
        }
        &-divider {
            margin-bottom: 0;
        }
    }

    .notification__message {
        cursor: pointer;
        position: relative;
        height: 105px;

        &:not(:first-child) {
            border-top: 1px solid $gray-dark;
        }

        .header {
            .avatar {
                position: absolute;
                top: 10px;
                left: 10px;
        
                img {
                    border-radius: 100%;
                    max-width: 30px;
                }
            }

            .content {
                padding-left: 40px;

                .title {
                    margin: 0;
                    font-size: 16px;
                    max-width: 95%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .info {
                    font-size: 12px;
                    color: $gray;
                }
            }
        }

        .body {
            .text {
                white-space: normal;
                font-size: 12px;
                padding: 3px;
                line-height: 1.2;
                max-height: 45px;
                overflow: hidden;
                color: $formattedColor;
            }
        }
    }
}