.comp__userAvatar {
    display: inline-block;
    vertical-align: top;
    position: relative;

    &--empty {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        font-size: 190%;
        display: flex;
        background-color: $gray-hover;
        font-weight: normal;
        border-color: transparent;
        color: $gray;
        @include centerX(absolute);
        align-items: center;
        justify-content: center;
    }

    img {
        border-radius: 100%;
        margin-bottom: 20px;
        width: 100%;
        height: 100%;
    }

    &__uploader {
        position: absolute;
        bottom: 0px;
        right: 5px;

        @include tablet {
            bottom: -5px;
            right: 0px;
        }
    
        input[type='file'] {
            display: none
        }
    
        .button {
            background-color: $blue;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            width: 28px;
            height: 28px;
            font-size: 12px;
            position: relative;
            border-radius: 100%;
            margin: 0;
    
            svg {
                @include center(absolute);
            }
    
            &:hover {
                background-color: $blue-hover;
            }
        }

        &__status {
            position: absolute;
            width: 100%;
            bottom: -10px;
            height: 20px;
            text-align: center;
            background-color: $bg-color;
            padding: 0 0 2px;
            border-radius: 5px;
            font-size: 12px;

            &--success {
                color: $white-green;
                background-color: $green;
            }

            &--error {
                color: $white-red;
                background-color: $red;
            }

            &.progress {
                padding: 0;
            }
        }
    }
}