.comp__userContent {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin-top: -10px;
    padding-left: 20px;

    &__username {
        margin: 0;
        font-weight: 600;
        font-size: 28px;
    }

    &__bio {
        font-style: italic;
    }

    .tags {
        .badge {
            background-color: transparent !important;
        }
    }
}