.page__development {
  min-height: 37vh;
  margin: 20px 0px;
  text-align: center;
  @include tablet {
    text-align: left;
    margin: 40px 0px;
  }
  .row {
    div[class^="col"] {
      z-index: 0;
    }
  }
  .v-spinner {
    margin-top: 215px;
  }
  .nomore {
    color: $gray;
  }
}