.page__development {
    min-height: 63vh;
    margin: 20px 0px;
    text-align: center;

    @include tablet {
        text-align: left;
        margin: 40px 0px;
    }
    .row {
        div[class^="col"] {
            z-index: 0;
        }
    }

    .nomore {
        color: $gray;
    }
}