.btn {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    line-height: 20px;
    padding: 8px 13px !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $gray;
    background-color: $gray-dark;
    border: 0;
    font-family: $font-open;
    font-size: inherit !important;
    position: relative;
    padding-left: 20px;
    font-weight: bold !important;

    &:hover {
        color: $bg-color !important;
        text-decoration: none;
    }

    &-primary {
        color: $bg-color !important;
        background-color: $blue !important;

        &:not([disabled]), &:not(.disabled) {
            &:hover {
                background-color: $blue-hover !important;
            }

            &:active, &.active {
                background-color: $blue-active !important;
                color: $bg-color !important;
            }
        }

        &.disabled, &[disabled] {
            background-color: $blue !important;
        }
    }

    &-success {
        color: $white !important;
        background-color: $green !important;
        
        &:hover {
            color: $white !important;
        }
    }

    &-secondary {
        color: $gray !important;
        background-color: $gray-dark !important;

        &:hover {
            color: $gray !important;
            background-color: $gray-hover !important;
        }
    }

    &.disabled, &[disabled] {
        cursor: default;
        opacity: 0.65;
        box-shadow: none;
    }

    &:hover {
        z-index: inherit !important;
    }

    &:active, &.active {
        -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        outline: none;
        border-color: transparent;
    }

    &-block {
        display: block;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .icon {
        right: 13px;
        font-size: 19px;
        @include centerY(absolute);
    }
}