.firsttime__block {
    margin-top: 40px;
    margin-bottom: 20px;

    &__info {
        border: 2px dashed $gray-dark;
        background-color: $gray-active;
        padding: 20px;
        position: relative;
        border-radius: 5px;
        text-align: center;
        
        @include tablet {
            text-align: left;
        }

        &__image {
            &--empty {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                font-size: 40px;
                display: flex;
                background-color: $gray-dark;
                font-weight: normal;
                border-color: transparent;
                color: $gray;
                position: absolute;
                align-items: center;
                justify-content: center;
            }

            img {
                border-radius: 100%;
                margin-bottom: 20px;

                @include tablet {
                    position: absolute;
                    width: 80px;
                    height: 80px;
                }
            }
        }

        &__form {
            text-align: left;

            @include tablet {
                padding-left: 100px;
            }

            .form-group {
                padding: 0;
            }

            .file-group {
                &:hover {
                    cursor: pointer;
                }
            }

            .btn {
                padding: 7px 14px !important;

                &-primary {
                    width: 140px;
                }
            }

            .btn-group {
                margin: 5px auto 0;
                float: right;
            }
        }
    }
}