.ucp__index {
    &__info {
        &__column {
            &--left {
                margin-right: 24px;
                flex: 0 0 72.666667%;
                max-width: 72.666667%;
            }
        }
        &__divider {
            width: 100%;
            position: relative;
            background-color: $blue;
            height: 2px;
            margin-top: 8px;
            margin-bottom: 30px;
            border-radius: 2px;

            &__title {
                @include centerX(absolute);
                top: -7px;
                background-color: $bg-color;
                text-transform: uppercase;
                text-align: center;
                font-size: 14px;
                font-weight: 700;
                padding: 0 20px;
            }
        }
        &__block {
            background-color: $gray-dark;
            margin-bottom: 24px;
            border-radius: 5px;
            padding: 0;

            &__desc {
                color: $gray-lt;
                text-transform: uppercase;
                font-family: $font-roboto;
                font-size: 12px;
                font-weight: 700;
                margin: 15px 20px 0;
            }

            &__content {
                padding: 15px 20px;
                position: relative;
                width: 100%;

                .btn {
                    position: absolute;
                    bottom: 20px;
                    right: 20px;
                }
            }

            &__character {
                position: relative;
                margin-bottom: 10px;
                .ucp__index__info__block {
                    min-height: 150px;
                    margin-bottom: 0;
                }

                &-swiper {
                    &__pagination {
                        text-align: center;
                        width: 60px !important;
                        margin: 0 auto;
                        
                    
                    }

                    &__arrow {
                        @include centerY(absolute);
                        width: 45px;
                        height: 45px;
                        margin-top: -15px;
                        z-index: 10;
                        border-radius: 100%;
                        cursor: pointer;
                        background-size: 27px 44px;
                        background-position: center;
                        background-repeat: no-repeat;
                        font-size: 30px;
                        text-align: center;

                        &--prev {
                            left: 10px;
                            right: auto;
                        }

                        &--next {
                            right: 10px;
                            left: auto;
                        }

                        &:hover {
                            background-color: $gray-hover;
                            color: $blue;
                        }

                        &:active {
                            background-color: $gray-dark;
                            color: $blue-active;
                        }

                        &:focus {
                            outline: none;
                        }

                        &.swiper-button-disabled {
                            background-color: $bg-color !important;
                            color: $gray !important;
                            cursor: default;
                            opacity: .3;
                        }
                    }
                }
            }

            &--account {
                .account__item {
                    margin-bottom: 2px;
                    &__stats {
                        float: right;
                        text-transform: uppercase;

                        &.deactivated, &.permbanned {
                            color: $red;
                        }

                        &.tempbanned {
                            color: $orange;
                        }

                        &.normal {
                            color: $green;
                        }
                    }
                }
            }

            &--punishment {
                &.permbanned {
                    border: 1px solid $red;

                    .ucp__index__info__block__desc {
                        color: $red;
                    }
                }

                &.tempbanned {
                    border: 1px solid $orange;

                    .ucp__index__info__block__desc {
                        color: $orange;
                    }
                }

                &__info {
                    margin-top: 15px;

                    .punishment__item {
                        margin-bottom: 2px;

                        &__desc {
                            float: right;
                        }

                        &--expires {
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
}