.comp__userProfileBlock {
    &__block {
        background-color: $gray-dark;
        margin-bottom: 24px;
        padding: 20px;
        border-radius: 5px;
    }

    &__chars {
        margin-bottom: 30px;
    }

    &__data {
        margin-top: 30px;
        
        @include tablet {
            margin-top: 0;
        }

        &__container {
            padding: 0;
            margin-bottom: 30px;

            .tabs {
                .nav-tabs {
                    overflow: hidden;
                    display: flex;
                    border: 0;

                    .nav-item {
                        display: inline-flex;
                        flex-grow: 1;
                        
                        .nav-link {
                            width: 100%;
                            text-align: center;
                            padding: 18px 0;
                            color: $gray;
                            border: none;
                            text-transform: uppercase;
                            
                            &.active {
                                background-color: $gray-dark;
                                color: $white;
                                border: none;
                            }

                            &:not(.active):hover {
                                background-color: $gray-active;
                                border: none;
                            }
                        }
                    }
                }
                .tab-content {
                    background-color: #171d23;
                    border-radius: 0 0 5px 5px;
                    padding: 20px;
                }
            }
        }
    }
}

#player_not_found {
    display: none;
    margin: 40px 0;

    .input-group {
        margin: 20px 0;
    }
}