.news {
    .block__content {
        p {
            padding: 20px 0;
            text-align: center;
            margin: 0px;
        }

        .post {
            padding-left: 0;
        }
        
        .loader {
            height: 64px;
        }
    }
}