.messaging__block {
    .messasing__menu {
        margin-top: 24px;
        background-color: $gray-dark;
        border-radius: 5px;
        padding: 0;

        .menu__item {
            padding: 10px 15px;
            color: rgba($color: $white, $alpha: .2);
            cursor: pointer;

            &:not(:last-child) {
                border-bottom: 1px solid $bg-color;
            }

            &:first-child {
                border-radius: 5px 5px 0 0;
            }

            &:last-child {
                border-radius: 0 0 5px 5px;
            }

            &:hover:not(.menu__item--active) {
                background-color: $gray-hover;
                color: $gray;
            }

            &--active {
                background-color: $blue-hover;
                color: $white;
            }
        }
    }
}