.new_message {
    margin-bottom: 20px;
    .preview {
        min-height: 300px;
    }

    .inputs {
        border-top: 2px solid $gray-dark;
        padding: 20px 0 0;

        fieldset {
            padding: 0;

            .form-control {
                background-color: $gray-dark;
            }
        }

        .submit {
            float: right;
        }
    }
}